---
import BaseLayout from "../../../../layouts/Layout.astro";
import { Image } from "astro:assets";

export const prerender = false;
const { eventSlug, tableSlug } = Astro.params;
const userName = Astro.url.searchParams.get("userName");

const imageURL =
    "https://f005.backblazeb2.com/file/img-gjt-io/mew+wallpaper.png";
---

<BaseLayout>
    <div class="h-dvh p-4 bg-pink-100 flex flex-col">
        <section class="flex justify-center">
            <p>welcome {userName}</p>
        </section>
        <section class="grow flex flex-col justify-center items-center">
            <Image
                src={imageURL}
                alt={"image for table " + tableSlug}
                width="1000"
                height="1000"
                class="p-4 bg-white rounded-lg"
            />
        </section>
        <section class="w-full flex justify-center">
            <a
                href=`/e/${eventSlug}`
                class="font-bold text-red-500/40 border-2 rounded-lg px-16 py-2"
                >Back</a
            >
        </section>
    </div>
</BaseLayout>
