---
import BaseLayout from "../../../../layouts/Layout.astro";

export const prerender = false;
const { eventSlug, tableSlug } = Astro.params;
const userId = Astro.url.searchParams.get("userId");
---

<BaseLayout>
    <p>Event Slug: {eventSlug}</p>
    <p>Table Slug: {tableSlug}</p>
    <p>userId: {userId}</p>
</BaseLayout>
