---
import BaseLayout from "../../../../layouts/Layout.astro";

export const prerender = false;
const { eventSlug, tableSlug } = Astro.params;
const userName = Astro.url.searchParams.get("userName");
---

<BaseLayout>
    <p>Event Slug: {eventSlug}</p>
    <p>Table Slug: {tableSlug}</p>
    <p>userName: {userName}</p>
</BaseLayout>
