---
import BaseLayout from "../../../layouts/Layout.astro";
import type { EventData, GuestData } from "../../../scripts/config.ts";
import { tryGetEventDataAsync } from "../../../scripts/db";

export const prerender = false;

const { eventSlug } = Astro.params;
if (!eventSlug) return Astro.redirect("/");

const event = await tryGetEventDataAsync(eventSlug);
if (event == null)
    return new Response(null, {
        status: 404,
        statusText: `Cannot find event ${eventSlug}`,
    });

const guests = event.guests;

/*
 * ways to implement dropdown
 *
 * datalist
 * - does not show a list in Android
 *
 * select
 * - <select> and <option> and <optgroup>
 * - but this has no "search", is scrolling and finding, but simple
 * - tried but the styling is not consistent and cannot control
 *
 * custom
 * - can implement search and filter
 * - but time consuming
 * - https://css-tricks.com/striking-a-balance-between-native-and-custom-select-elements/
 * - here is a good article about striking a balance between native and custom select elements
 * - for this particular use case, almost all guests are guaranteed to be on mobile, so dont need to consider too much about keyboard navigation
 * */
---

<BaseLayout>
    <div
        data-event-home-page
        data-event-slug={eventSlug}
        class="h-dvh p-4 flex flex-col gap-4"
    >
        <section class="flex flex-col gap-2">
            <label for="guest-name-input" class="font-bold">
                Welcome👋 What is your name?
            </label>
            <input
                data-guest-name-input
                type="text"
                id="guest-name-input"
                class="border rounded-lg w-full py-2 px-1"
                placeholder="Type your name here..."
            />
        </section>
        <section>
            <p
                data-guest-name-button-list-hint
                class="text-center text-neutral-500/80"
            >
            </p>
        </section>
        <section class="flex-grow min-h-0 overflow-scroll flex flex-col gap-2">
            <div hidden data-guest-name-button-list>
                <ul class="flex flex-col border rounded-lg">
                    {
                        guests.map((guest) => (
                            <li class="border-t">
                                <button
                                    data-guest-name-button
                                    data-guest={JSON.stringify(guest)}
                                    class="px-2 py-4 w-full cursor-pointer text-start"
                                >
                                    {guest.displayName}
                                </button>
                            </li>
                        ))
                    }
                </ul>
            </div>
            <button
                data-search-button
                hidden
                class="w-full px-2 py-4 text-white font-bold rounded-lg bg-green-400"
            >
                Search
            </button>
        </section>
        <section>
            <p
                data-guest-name-button-list-bottom-hint
                hidden
                class="text-center text-neutral-500/80"
            >
                ( Scroll down to look for your name )
            </p>
        </section>
        <section class="flex justify-center">
            <a>whereismyseat.gjt.io</a>
        </section>
    </div>
    <script src="../../../scripts/event-home-page.ts"></script>
</BaseLayout>
