---
import BaseLayout from "../../../layouts/Layout.astro";
import type { UserData } from "../../../scripts/UserData.ts";

export const prerender = false;
const { eventSlug } = Astro.params;

/*
 * ways to implement dropdown
 *
 * datalist
 * - does not show a list in Android
 *
 * select
 * - <select> and <option> and <optgroup>
 * - but this has no "search", is scrolling and finding, but simple
 * - tried but the styling is not consistent and cannot control
 *
 * custom
 * - can implement search and filter
 * - but time consuming
 * - https://css-tricks.com/striking-a-balance-between-native-and-custom-select-elements/
 * - here is a good article about striking a balance between native and custom select elements
 * - for this particular use case, almost all users are guaranteed to be on mobile, so dont need to consider too much about keyboard navigation
 * */

const users: UserData[] = [
    {
        userName: "Apple",
        aliases: ["the pretty one"],
    },
    {
        userName: "Barry",
        aliases: ["a cool kid"],
    },
    {
        userName: "Charlie",
        aliases: [],
    },
    {
        userName: "🎤",
        aliases: ["michael", "microphone"],
    },
];
---

<BaseLayout>
    <div data-event-home-page class="h-dvh p-4 flex flex-col gap-4">
        <section class="flex flex-col gap-2">
            <label for="user-name-input" class="font-bold">
                What is your name?
            </label>
            <input
                type="text"
                id="user-name-input"
                data-user-name-input
                class="border rounded-lg w-full py-2 px-1"
            />
        </section>
        <section data-users={users} class="flex-grow min-h-0 overflow-scroll">
            <ul
                data-user-name-button-list
                hidden
                class="flex flex-col border rounded-lg"
            >
                {
                    users.map((user) => (
                        <li class="border-t">
                            <button
                                data-user-name-button
                                data-user={JSON.stringify(user)}
                                class="px-2 py-4 w-full cursor-pointer text-start"
                            >
                                {user.userName}
                            </button>
                        </li>
                    ))
                }
            </ul>
            <p
                data-cannot-find-user-hint
                hidden
                class="px-2 py-4 border rounded-lg text-red-500"
            >
                Sorry I cannot find your name
            </p>
        </section>
        <section class="flex justify-center">
            <a>whereismyseat.gjt.io</a>
        </section>
    </div>
    <script src="../../../scripts/event-home-page.ts"></script>
</BaseLayout>
