---
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>where is my seat</title>
    </head>
    <body>
        <!-- Decorative background elements -->
        <div class="absolute inset-0 overflow-hidden pointer-events-none">
            <div
                class="absolute top-10 left-10 w-20 h-20 bg-emerald-200/20 rounded-full blur-xl"
            >
            </div>
            <div
                class="absolute top-32 right-16 w-16 h-16 bg-sky-200/20 rounded-full blur-lg"
            >
            </div>
            <div
                class="absolute bottom-20 left-20 w-24 h-24 bg-orange-200/20 rounded-full blur-xl"
            >
            </div>
            <div
                class="absolute bottom-32 right-10 w-12 h-12 bg-rose-200/20 rounded-full blur-lg"
            >
            </div>
        </div>
        <slot />
    </body>
</html>